## Install log

1. Running `map_1 = KeplerGl(height=500)` results in this error message: 

> Error displaying widget: model not found

The [issue is reported here](https://github.com/keplergl/kepler.gl/issues/1064), and is currently open.

2.

In [1]:
import pandas as pd

In [2]:
from keplergl import KeplerGl
w1 = KeplerGl()

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

In [3]:
df = pd.DataFrame(
    {'City': ['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas'],
     'Latitude': [-34.58, -15.78, -33.45, 4.60, 10.48],
     'Longitude': [-58.66, -47.91, -70.66, -74.08, -66.86]})

w1.add_data(data=df, name='cities')

In [4]:
w1.save_to_html()

Map saved to keplergl_map.html!

In [5]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd
df = gpd.read_file("NYPD_Complaint_Data_Current__Year_To_Date_.csv")
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,geometry
0,466502077,75,BROOKLYN,03/30/2020,17:30:00,03/31/2020,06:53:00,COMPLETED,,,...,,25-44,BLACK,M,1018496,178657,40.65699087900003,-73.87657444799999,"(40.65699087900003, -73.87657444799999)",None
1,303191835,77,BROOKLYN,03/28/2020,19:30:00,03/28/2020,20:30:00,COMPLETED,,,...,,<18,UNKNOWN,F,1003606,185050,40.67458330800008,-73.93022154099998,"(40.67458330800008, -73.93022154099998)",None
2,735488557,43,BRONX,03/29/2020,14:10:00,,,COMPLETED,,,...,,UNKNOWN,UNKNOWN,D,1019853,241853,40.83044253800006,-73.871349147,"(40.83044253800006, -73.871349147)",None
3,315962428,40,BRONX,03/29/2020,07:10:00,03/29/2020,07:16:00,COMPLETED,,,...,,25-44,WHITE HISPANIC,F,1007236,237260,40.817877907000025,-73.91695668199996,"(40.817877907000025, -73.91695668199996)",None
4,165437868,114,QUEENS,03/27/2020,13:15:00,03/27/2020,14:00:00,COMPLETED,,,...,,45-64,BLACK,F,1002018,213258,40.75201086000004,-73.93587196099996,"(40.75201086000004, -73.93587196099996)",None

In [6]:
#Create a basemap 
map1 = KeplerGl(height=600, width=800)
#show the map
map1

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

KeplerGl(height=600)